.img {
    width: 400px;
    float: right;
    border-radius: 200px;
    margin-right: 250px;
    margin-top: 250px;
}
/* brand colour palette */ 
:root {
    --primary: #2f4454;
    --secondary: #2e151b;
    --teritary: #da7b93;
    --quaternary: #376e6f;
    --quinary: #1c3334;
}

html {
    scroll-behavior: smooth;
}

.selector-for-some-widget {
    box-sizing: content-box;
}


.logo {
        color: #DA7B93;
        font-size: 35px;
        font-family: Arial;
        padding-left: 20px;
        float: left;
        padding-top: 10px;
}

h1 {
    font-size: 50px;
    font-family: arial;
    height: auto;
    text-align: left;
    padding-left: 20px;
    line-height: 30px;
    text-align: justify;
    color: white;
}

.favTitle {
   color: white;
   font-family: arial;
}

.par {
    font-size: 20px;
    text-align: left;
    color: white;
}
.content {
    align-items: center;
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    margin-top: 300px;
}
.content .par{
    padding-left:20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1 {
    font-family: Arial;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    background: #DA7B93;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.badge {
    background-color: var(--quaternary);
    color: white;
}

.cocktailBadge {
    font-size: 40px;
    text-align: center;
    position: relative;
    left: 70px;
}

.ingredientsBadge {
    font-size: 40px;
    text-align: center;
    position: relative;
    left: 30px;
}

.stepsBadge {
    font-size: 40px;
    text-align: center;
    position: relative;
    left: 75px;
}

.favouritesBadge {
   font-size: 40px;
   text-align: center;
   position: relative;
   left: 120px;
}

.button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    background: #DA7B93;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.favouriteDrinksTable {
   height: 75%;
   width: 50%;
}

.circle {
   height: 400px;
   width: 400px;
   background-color: var(--teritary);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: all 1s;
}

.c2 {
   height: 350px;
   width: 350px;
   border: solid white 1px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cn {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    color: white;
    font-family: Arial;
    font-size: 120%;
}
.button:hover {
    background: #7c7c7c6b;
}
 .placeholder {
    color: white;
 }

 .img {
    position: relative;
    bottom: 75px;
    left: 75px;
 }

 .shadow {
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.8);
}


 .heroHeader {
    position: relative;
    bottom: 40px;

 }

 .gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'Hero Hero Hero Hero'
    'Main Main Main Main'
    'Favourites Favourites Favourites Favourites'
    'Footer Footer Footer Footer'
    ;
 }

 .favouritesContainer {
   background-color: var(--quaternary);
   grid-area: Favourites;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .footer {
   grid-area: Footer;
   background-color: #376e6f;
 }

 .body {
    grid-area: Hero;
 }

 .drinks {
    background-color: var(--quaternary);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'space1 mytable mytable mytable mytable mytable space2'
    'space1 mytable mytable mytable mytable mytable space2'
    ;
 }

 .displayTable {
    width: 100%;
    height: 100%;
    grid-area: mytable;
    display: grid;
    background-color: var(--quaternary);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'name ingredients steps '
    ;
    border-radius: 7% 7% 0% 0%;
 }
 .space {
    grid-area: space1;
    background-color: #376e6f;
    width: 100%;
    height: 100%;
 }

 .space2 {
    grid-area: space2;
    background-color: #376e6f;
    width: 100%;
    height: 100%;
 }

 .name {
    grid-area: name;
 }

 .ingredients {
    grid-area: ingredients;
 }

 .steps {
    grid-area: steps;
 }

 .cocktailH2 {
    color: white;
    background-color: var(--teritary);
    position: relative;
    top: 2%;
    text-align: center;
 }

 .ingredientsH2 {
    color: white;
    background-color: var(--teritary);
    position: relative;
    top: 2%;
    text-align: center;
 }

 .stepsH2 {
    color: white;
    background-color: var(--teritary);
    position: relative;
    top: 2%;
    text-align: center;
 }

 .hide {
    display: none;
 }

 .waitDisplay {
    position: relative;
    top: 325px;
    color: white;
    font-size:50px;
    text-align: center;
    grid-area: ingredients;
 }

 #main {
    grid-area: Main;
 }

 .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--primary), var(--quaternary));
 }

 .list-group{
    max-height: 1000px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    padding: 30px 10px;
    color: white;
    background-color: var(--primary);
    text-align: center;
}

 .hidden {
    opacity: 0;
    filter: blur(7px);
    transform: translateX(-100%);
    transition: all 1s;
 }

 #favouritesList {
   transform: translateX(-175px);
 }

 .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
 }

/* Favorite button */
.favButton {
    width: 120px;
    height: 40px;
    background-color: var(--primary);
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .4s;
    user-select: none;
    perspective: 100px;
}

.favButton:active {
    transform: scale(.95);
}

svg {
    position: absolute;
    top: 25%;
    left: 10px;
    transition: .6s;
}

.favButton svg {
    fill: var(--teritary);
    animation: 2s ease-in-out;
}

@keyframes first {
    0% {
        top: 25%;
        opacity: 1;
        fill: gold;
        width: auto;
    }
    25% {
        top: -30px;
        opacity: 1;
        fill: gold;
        width: auto;
    }
    50% {
        top: 55px;
        opacity: 0;
        fill: var(--teritary);
        width: 0;
    }
    75% {
        top: -30px;
        opacity: 1;
        fill: var(--teritary);
        width: auto;
    }
    100% {
        top: 25%;
        opacity: 1;
        fill: var(--teritary);
        transform: scale(1);
        width: auto;
    }
}

.favButton.active svg {
    fill: gold;
    animation: active 2s ease;
} 

@keyframes active {
    0% {
        top: 25%;
        opacity: 1;
        fill: var(--teritary);
        width: auto;
    }
    25% {
        top: -30px;
        opacity: 1;
        fill: var(--teritary);
        width: auto;
    }
    50% {
        top: 55px;
        opacity: 0;
        fill: var(--teritary);
        width: 0;
    }
    75% {
        top: -30px;
        opacity: 1;
        fill: gold;
        width: auto;
    }
    100% {
        top: 25%;
        opacity: 1;
        fill: gold;
        transform: scale(1);
        width: auto;
    }
}

svg path.star {
    transform: scale(.2);
}

svg path.mouth {
    position: absolute;
    transform: scale(.1);
}

.favButton h3 {
    font-size: 14px;
    letter-spacing: 1.5px;
    color: var(--teritary);
    margin-left: 30px;
} 

.pit {
    position: absolute;
    left: 10px;
    top: 14px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    transform: skew(55deg) rotateX(70deg);
    z-index: -2;
    box-shadow: inset 0 0 0 .5px #999;
    animation: hidden 2s;
    animation-timing-function: ease;
    opacity: 0;
    transform: scale(0);
}

@keyframes hidden {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.4, .5);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.favButton.favButton.active .pit {
    animation: width 2s;
    animation-timing-function: ease;
}

@keyframes width {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.4, .5);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}