/* brand colour palette */ 
:root {
    --primary: #2f4454;
    --secondary: #2e151b;
    --teritary: #da7b93;
    --quaternary: #376e6f;
    --quinary: #1c3334;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

